body{
    background: #f1f1f1;
}
form{
    margin-top: 100px;
    background: #fff;
    box-shadow: 0px 5px 20px rgb(182,182,182);
    padding: 30px;
    border-radius: 20px;
}
h1{
    font-weight: bold;
    letter-spacing: 8px;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #555;
}
.ingresar{
    background: #ffB300;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 8px;
    padding: 10px;
    color: #fff;
    margin-top: 50px;
}
.ingresar:hover{
    background: #efa300;
    color: #fff;
}
.form-control{

    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: none;
    border: none;
    border-radius: 0px;
    border-bottom: solid #555;
}
p{
    margin-top: 20px;
    font-size: 18px;
    text-align:center;
}
a{
    color: #4A0498;
}
a:hover{
    color: #6A24b8;
}
#error{
    color: #e00;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}